In [1]:
import json
import os

# Path to the JSON file
json_path = '/n/netscratch/konkle_lab/Everyone/Jingxuan/DiffusionObjectRelation/T2I-CompBench-main/examples/labels/annotation_obj_detection_2d/detailed_scores.json'

# Function to load and analyze the JSON data
def analyze_scores(json_file):
    # Check if file exists
    if not os.path.exists(json_file):
        print(f"Error: File {json_file} not found.")
        return
    
    try:
        # Load the JSON data
        with open(json_file, 'r') as f:
            data = json.load(f)
            
        # Initialize lists to store question_ids for each case
        case1_ids = []  # Either object detected is False
        case2_ids = []  # Both objects detected is True but spatial score is 0
        case3_ids = []  # Both objects detected is True and spatial score is 1
        
        # Analyze each sample
        for sample in data:
            question_id = sample.get('question_id')
            obj1_detected = sample.get('obj1_detected')
            obj2_detected = sample.get('obj2_detected')
            spatial_score = sample.get('spatial_relationship_score')
            
            # Case 1: Either object detected is False
            if not obj1_detected or not obj2_detected:
                case1_ids.append(question_id)
            
            # Case 2: Both objects detected is True but spatial score is 0
            elif obj1_detected and obj2_detected and spatial_score == 0:
                case2_ids.append(question_id)
            
            # Case 3: Both objects detected is True and spatial score is 1
            elif obj1_detected and obj2_detected and spatial_score == 1:
                case3_ids.append(question_id)
        
        # Print the results
        print(f"Case 1 (Either object not detected): {len(case1_ids)} samples found")
        print(f"Question IDs: {case1_ids[:20]}..." if len(case1_ids) > 20 else f"Question IDs: {case1_ids}")
        
        print(f"\nCase 2 (Both objects detected but spatial score is 0): {len(case2_ids)} samples found")
        print(f"Question IDs: {case2_ids[:20]}..." if len(case2_ids) > 20 else f"Question IDs: {case2_ids}")
        
        print(f"\nCase 3 (Both objects detected and spatial score is 1): {len(case3_ids)} samples found")
        print(f"Question IDs: {case3_ids[:20]}..." if len(case3_ids) > 20 else f"Question IDs: {case3_ids}")
        
        # Return the results
        return {
            'case1_ids': case1_ids,
            'case2_ids': case2_ids,
            'case3_ids': case3_ids
        }
        
    except json.JSONDecodeError:
        print(f"Error: File {json_file} is not a valid JSON file.")
    except Exception as e:
        print(f"Error: {e}")

In [2]:
id_groups = analyze_scores(json_path)

Case 1 (Either object not detected): 549 samples found
Question IDs: [1, 6, 7, 8, 9, 11, 13, 14, 15, 16, 17, 19, 21, 24, 32, 34, 35, 36, 38, 39]...

Case 2 (Both objects detected but spatial score is 0): 205 samples found
Question IDs: [2, 3, 20, 22, 23, 26, 31, 37, 46, 48, 59, 63, 64, 67, 68, 80, 83, 85, 92, 93]...

Case 3 (Both objects detected and spatial score is 1): 188 samples found
Question IDs: [4, 10, 12, 18, 25, 27, 28, 29, 33, 41, 53, 70, 72, 77, 78, 81, 86, 89, 105, 108]...

In [3]:
with open('id_groups.json', 'w') as f:
    json.dump(id_groups, f)

In [5]:
id_groups['case2_ids']

[2,
 3,
 20,
 22,
 23,
 26,
 31,
 37,
 46,
 48,
 59,
 63,
 64,
 67,
 68,
 80,
 83,
 85,
 92,
 93,
 94,
 95,
 99,
 106,
 127,
 138,
 148,
 150,
 151,
 154,
 156,
 166,
 167,
 169,
 170,
 174,
 176,
 182,
 183,
 192,
 198,
 203,
 219,
 220,
 223,
 228,
 247,
 249,
 253,
 261,
 263,
 266,
 267,
 286,
 292,
 293,
 297,
 304,
 305,
 310,
 312,
 321,
 323,
 348,
 351,
 362,
 373,
 376,
 381,
 382,
 383,
 389,
 391,
 393,
 395,
 396,
 403,
 405,
 410,
 413,
 414,
 417,
 421,
 426,
 430,
 431,
 450,
 456,
 459,
 461,
 464,
 478,
 482,
 483,
 486,
 489,
 496,
 507,
 515,
 518,
 519,
 523,
 527,
 528,
 535,
 538,
 539,
 547,
 553,
 555,
 559,
 562,
 564,
 567,
 568,
 575,
 584,
 591,
 592,
 593,
 595,
 605,
 609,
 619,
 623,
 632,
 637,
 641,
 643,
 650,
 653,
 657,
 660,
 664,
 670,
 679,
 681,
 683,
 684,
 689,
 690,
 692,
 693,
 699,
 704,
 705,
 709,
 712,
 718,
 726,
 731,
 740,
 741,
 746,
 748,
 761,
 767,
 769,
 770,
 781,
 785,
 786,
 797,
 798,
 803,
 809,
 812,
 819,
 824,
 826,
 834,
 835,
 837,
 846,
 850,
 855,
 857,
 869,
 876,
 877,
 883,
 889,
 890,
 903,
 910,
 918,
 922,
 927,
 928,
 936,
 937,
 939,
 943,
 954,
 963,
 964,
 968,
 974,
 979,
 980,
 982,
 984,
 985,
 990,
 997]

In [6]:
id_groups['case3_ids']

[4,
 10,
 12,
 18,
 25,
 27,
 28,
 29,
 33,
 41,
 53,
 70,
 72,
 77,
 78,
 81,
 86,
 89,
 105,
 108,
 114,
 118,
 130,
 131,
 135,
 137,
 152,
 153,
 155,
 165,
 168,
 171,
 173,
 179,
 181,
 201,
 202,
 204,
 205,
 213,
 216,
 221,
 222,
 235,
 236,
 238,
 242,
 243,
 244,
 245,
 254,
 255,
 259,
 269,
 280,
 281,
 284,
 291,
 298,
 300,
 303,
 306,
 313,
 320,
 324,
 326,
 327,
 328,
 331,
 340,
 341,
 345,
 346,
 350,
 353,
 359,
 366,
 371,
 378,
 379,
 380,
 387,
 388,
 392,
 400,
 406,
 415,
 422,
 436,
 442,
 445,
 447,
 453,
 460,
 467,
 470,
 476,
 477,
 479,
 480,
 481,
 487,
 495,
 503,
 504,
 513,
 514,
 520,
 529,
 534,
 537,
 541,
 542,
 548,
 560,
 570,
 576,
 577,
 585,
 586,
 587,
 597,
 602,
 604,
 608,
 624,
 627,
 630,
 633,
 635,
 640,
 642,
 644,
 658,
 665,
 667,
 668,
 669,
 676,
 688,
 691,
 696,
 698,
 701,
 702,
 717,
 722,
 734,
 737,
 739,
 750,
 751,
 753,
 754,
 755,
 772,
 773,
 776,
 779,
 783,
 802,
 806,
 808,
 811,
 814,
 833,
 849,
 856,
 864,
 872,
 875,
 880,
 882,
 896,
 901,
 905,
 907,
 909,
 920,
 921,
 945,
 946,
 949,
 957,
 986,
 987,
 988,
 991]